.map {
  position: relative;
  overflow: hidden;
}

.map__pin {
  position: absolute;
  top: 35%;
  left: 45%;
}

@media (min-width: @tablet-width) {
  .map__image {
    height: 400px;
  }

  .map__pin {
    top: 30%;
    left: 45%;
    width: 125px;
    height: 106px;
  }
}
