.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main__title {
  margin-top: 29px;
  position: absolute;
  width: 320px;

  &--catalog {
    position: relative;
  }
}

@media (min-width: 768px) {
  .page-main {
    width: 768px;
  }

  .page-main__title {
    position: relative;
    margin-left: 120px;
  }
}

@media (min-width: 1300px) {
  .page-main {
    width: 1300px;
  }
}
