.page-title {
  color: white;
  font-size: 36px;
  font-weight: normal;
  text-align: center;

  &--catalog {
    color: black;
  }
}

@media (min-width: 768px) {
  .page-title {
    color: black;
    text-align: left;

    &--catalog {
      margin-left: 30px;
    }
  }
}
