.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 122px;
}

.promo__title {
  color: white;
  text-transform: uppercase;
  margin: 0 61px 29px 61px;
}

.promo__image {
  margin: 0 20px 3px 20px;
}

.promo__button {
  margin: 0 20px 22px 20px;
  padding: 14px 73px 11px 73px;
}
